.top-bar {
  position: absolute;
  width: 100%;
}

.top-bar-right {
  position: absolute;
  right: 2rem;
}


.hero-section {
  position: relative;
  color: $black;
  .logo {
    display: inline-block;
    width: 50%;
    max-width: 560px;
    @include breakpoint(large) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  h1 {
    margin-bottom: 0;
    position: absolute;
    bottom: -.3rem;
    @include breakpoint(large) {
      bottom: -.6rem;
    }
  }
}

.slideshow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.slide {
  width: 100%;
  height: 100%;
}

.slideshow img,
.slideshow div {
  width: 100%;
}

//
//.slick-arrow.slick-next {
//  position: absolute;
//  right: 2rem;
//  z-index: 5000;
//}
//.slick-arrow.slick-next:before {
//  height: 1rem;
//  width: 1rem;
//  display: inline-block;
//  content: "";
//  border-left: 1px solid $light-gray;
//  background-color: red;
//}
//.slick-arrow.slick-previous {
//  position: absolute;
//  left: 2rem;
//  z-index: 5000;
//}
//.slick-arrow.slick-previous:before {
//  height: 1rem;
//  width: 1rem;
//  display: inline-block;
//  content: "";
//  border-left: 1px solid $light-gray;
//  background-color: red;
//}
.body-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $black;
}

.instagram-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: $black;
  background: $light-gray;
  h2 {
    margin-bottom: 3rem;
  }
  h3 {
    margin-top: 3rem;
    a {
      color: $medium-gray;
      transition: .25s;
      &:hover,
      &:active {
        color: $success-color;
      }
    }
  }
}

a.social-icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  padding: .25rem;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.social-icon-fb {
  background: url('../img/icon-fb-gray.png')
}
.social-icon-ig {
  background: url('../img/icon-ig-gray.png');
  margin-left: 1rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  
  .social-icon-fb {
    background: url('../img/icon-fb-white.png')
  }
  .social-icon-ig {
    background: url('../img/icon-ig-white.png')
  }
}