h1,
.h1 {
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2,
.h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -.05rem;
}

.light-gray-text {
  color: $light-gray;
}
.primary-text {
  color: $primary-color;
}