@for $i from 0 through 10 {
  $margin: ($i);

  .mb#{$i} {
    margin-bottom: $margin+rem !important;
  }
  .mt#{$i} {
    margin-top: $margin+rem !important;
  }
  .pb#{$i} {
    padding-bottom: $margin+rem !important;
  }
  .pt#{$i} {
    padding-top: $margin+rem !important;
  }
}
